* {
    box-sizing: border-box; /* border-box говорит браузеру учитывать любые границы и внутренние отступы в значениях,
     которые вы указываете в ширине и высоте элемента*/
}
body {
    /*font-family: Arial, Helvetica, sans-serif; подгружаются по порядку если нет предидущего*/
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.header {
    display: flex;
    align-items: center; /* выравнивает логотипы и кнопки друг с другом*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 70px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}
.menu-button {
    padding: 0;  /*отступ*/
    display: flex; /*у блоков появилось свойство flex-контекст*/
    flex-direction: column; /*выстроились в колону*/
    justify-content: space-between; /*justify-content Отвечает за выравнивание элементов по главной оси
    Space-between задаёт одинаковое расстояние между блоками*/
    background-color: red;
    width: 20px;
    height: 17px;
    border: none; /*без обводки*/
    margin-right: 28px; /*отступ между кнопкой и лого*/
    cursor: pointer;/*при наведении курсора - превращается в палец*/
}
.menu-line {
    display: block; /* линия(блок) вместо текста*/
    background: #1F2022;
    width: 20px;
    height: 3px;
    border-radius: 20px; /* закругленные края*/
}
.logo {
    margin-right: 60px;
}
.input-group {
    background: #EBEBEB;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;  /* при уменьшении браузера - уменьшается*/
}
.input-search {
    width: 100%;
    background-color: transparent;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
}
.button-search {
    padding: 0;
    width: 19px;
    height: 19px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.icon-search {
    fill: #000;
}
.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icons-link {
    text-decoration: none; /*убираем подчеркивание*/
    opacity: 0.24; 
}
.icon-video:hover { /* изменение opacity при наведении */
    opacity: 0.8; 
} 
.icons-link:not(:last-child) { /*not() все кроме последнего*/
    margin-right: 50px;
}
.user {
    margin-left: 45px;
}
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* круглая*/
}
.sidebar {
    width: 12%;
    padding-left: 32px;
    position: fixed;
    left: 0;
    top: 114px;
    height: calc(100% - 114px); /* меняется от размера браузера*/
    overflow-y: auto; /* прокрутка контента*/
    background-color: #fff;
}
.content {
    width: 100%;
    margin-top: 85px;
    padding-left: 13%;
    padding-top: 30px;
}
.nav-menu {
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    list-style-type: none; /* точки слева отключены*/
}
.nav-item {
    margin-bottom: 28px;  
}
.nav-link {
    display: flex;
    align-items: center;
    color: #898989;
    text-decoration: none; 
}
.nav-link:hover {
    color: #FF0000;
}
.nav-link:hover.icon {
    fill: #FF0000;
}
.nav-item .icon {
    fill: #898989;
}
.nav-text {
    margin-left: 13px;
}
.nav-image {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.nav-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}
.nav-text {
    width: 20px;
    height: 20px;
    fill: #898989;
}
.channel {
    position: relative;
    margin-bottom: 49px;
}
.channel-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #19202C;
    font-weight: bold;
    font-style: 26px;
    line-height: 33px;
    margin-bottom: 30px;
}
.channel-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.channel-text {
    margin-left: 20px;
}
.video-card {
    width: 250px;
}
.video-thumb {
    width: 250px;
    height: 150px;
    overflow: hidden;  /* не вылазит за пределы*/
    background-repeat: 14px;
    position: relative;
}
.thumbnail {
    width: 250px;
    height: 150px;
    object-fit: cover; /*что быкартинка не меняла качество наверное*/
}
.video-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.3);
    mix-blend-mode: normal;
    background-repeat: 12px;
    Font size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 3px 9px;
}
.video-title {
font-size: 16px;
line-height: 20px;
line-height: 100%;
color: #19202C;
margin-top: 10px;
margin-bottom: 4px;
}
.video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: 13px;
    line-height: 16;
    color: #c2c2c2;
}
.video-counter {
    display: flex;
    
}
.video-views {
    margin-right: 5px;
}
.video-views:after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #C2C2C2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.channel-button {
    cursor: pointer;
}
.slider-buttons{
    position: absolute;
    right: 8px;
    top: 15;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
}